* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

#bio-image {
  width: 200px;
  float: left; 
  padding: 0px 10px 5px 0px;
  
}

body {
  background-image: url("./images/tim-mossholder-yB65Vk2UqEM-unsplash.jpg");
  background-size: cover;
  font-family: 'Dancing Script', cursive;
  /* font-family: 'Raleway', sans-serif; */
  font-size: 20px;
  height: 100%;
  margin: 0;
  text-align: center;
  float: none;
}

.nav-bar {
  color: rgb(249, 246, 246);
}
nav {
  background-color: #ffffff;
  color: #000;
  font-weight: 100px;
  font-size: 2rem;
  font-family: 'Dancing Script', cursive;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
}

h1, h2 {
  padding: 25px;
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  font-weight: 500px;
  color: #333b52;
  text-align: center;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: rgb(7, 0, 0);
  text-align: left;
  float: none;

}

form {
  background-color: rgb(249, 248, 250);
  color: white;
  border: 20px;
}

.bio {
  background-color: #f5f6f9;
  padding: 20px;
}

.container {
  margin-top: 40px;
}

.figure {
    max-width:100%;
    height:auto;
    width: auto;

}

.project {
  padding: 5%;
}
