* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background: url(images/bg.jpg) no-repeat center center fixed;  */
}

#bio-image {
  width: 200px;
  float: left; 
  padding: 0px 10px 5px 0px;
  
}

body {
  background-image: url("./images/tim-mossholder-yB65Vk2UqEM-unsplash.jpg");
  font-family: 'Dancing Script', cursive;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  height: 100%;
  margin: 0;
  text-align: center;
  float: none;


}
.nav-item {
  background-color: #f3f4f7;
}
.nav-bar {
  color: rgb(250, 248, 248);
}
nav {
  background-color: #ffcf94;
  color: #f3f4f7;
  font-weight: 100px;
  font-size: 2rem;
  font-family: 'Dancing Script', cursive;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
}

h2 {
  padding: 25px;
  font-family: 'Dancing Script', cursive;
  /* font-family: 'Raleway', sans-serif; */
  /* background-color: #3d5a80; */
  /* opacity: 75%; */
  font-size: 5rem;
  font-weight: 300px;
  color: #f3f6f7;
}

h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif; 
    /* background-color: #d4d5f2; */
    color: #f3f6f7;
}

h4 {
  font-family: 'Raleway', sans-serif; 
    background-color: #f7b989;
    color: #f3f6f7;
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: rgb(7, 0, 0);
  text-align: left;
  float: none;

}

form {
  background-color: #f3f4f7;
  color: white;
  border: 20px;
}

.bio {
  background-color: #f3f4f7;
  padding: 20px;
}

.container {
  margin-top: 40px;
}

.figure {
    max-width:100%;
    height:auto;
    width: auto;

}

.project {
  padding: 5%;
}
